<div class="container mainpage">
<h2 class="page-header"> Recently Added</h2>


    <div class="row">
    <% books.forEach( book => { %>
        <div class=" col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="width: 12rem;" >
        <a href="/books/<%= book.id %>">
            <img class="card-img-top" src="<%= book.coverImagePath %>">
          </a>
        </div>
    </div>
    <% }) %>
    </div>


</div>