body{
    /* font-family: 'Akaya Telivigala', cursive; */
    font-family: 'Acme', sans-serif;
    background-color: #fff;
    color: crimson;
}

.navbar
{
      padding: 1rem 4rem 1rem;
      background-color: rgb(248, 239, 241);
      border-bottom: 4px solid #2e2e2e;
    
} 
.navbar .navbar-brand 
{
    font-family: 'Fascinate', cursive;
    color: #000;
    font-size: 1.8rem;
    margin-bottom: 0;
}

.navbar .navbar-toggler
{
    border: none;
}

.navbar .navbar-nav .nav-item .nav-link
{
    font-size: 1.2rem;
    color: black;
    padding: 0 12px;
}



.navbar .navbar-nav .nav-item > a:hover
 {
    color: crimson;
}


@media only screen and (max-width: 768px)
{
    .navbar .navbar-nav .nav-item  .nav-link
    {
        padding: 0 4px;
    }
}

@media only screen and (max-width: 575px)
{
    
    .navbar
    {
        padding: 1rem 2rem 1rem;
        
    } 

    .navbar .navbar-brand 
    {
        color: #000;
        font-size: 1.2rem;
        margin-bottom: 0;
    }

}


.mainpage{
    margin-top: 4rem;
}

.book-container{
    margin-top: 4rem;
 
}

.page-header{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: crimson;
}

.show-book{
    color: #000;
    size: 1rem;
}

.show-book span{
    color: #000;
    size: 1rem;
    font-weight: bold;
}

.buttons{
    display: inline-block;
}